<launch>

  <arg name="cameraOffsetZ" default="0"/>
  <arg name="vehicleX" default="0"/>
  <arg name="vehicleY" default="0"/>
  <arg name="checkTerrainConn" default="false"/>
  <arg name="useLocalPlanner" default="true"/>

  <include file="$(find ps3joy)/launch/ps3.launch" />

  <group if="$(arg useLocalPlanner)">
    <include file="$(find local_planner)/launch/local_planner.launch" >
      <arg name="cameraOffsetZ" value="$(arg cameraOffsetZ)"/>
      <arg name="goalX" value="$(arg vehicleX)"/>
      <arg name="goalY" value="$(arg vehicleY)"/>
    </include>
  </group>

  <include file="$(find terrain_analysis)/launch/terrain_analysis.launch" />

  <include file="$(find terrain_analysis_ext)/launch/terrain_analysis_ext.launch" >
    <arg name="checkTerrainConn" value="$(arg checkTerrainConn)"/>
  </include>

  <include file="$(find sensor_scan_generation)/launch/sensor_scan_generation.launch" />

  <include file="$(find loam_interface)/launch/loam_interface.launch" />

  <!-- <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360.launch" /> -->

  <include file="$(find fast_lio)/launch/mapping_mid360.launch" >
    <arg name="rviz" value="false"/>
  </include>

  <!-- <include file="$(find realsense2_camera)/launch/rs_camera.launch" /> -->

  <node pkg="tf" type="static_transform_publisher" name="vehicleTransPublisher" args="0 0 0 0 0 0 /sensor /vehicle 1000"/>

  <node launch-prefix="nice" pkg="rviz" type="rviz" name="rvizGA" args="-d $(find vehicle_simulator)/rviz/vehicle_simulator.rviz" respawn="true"/>

</launch>
